.userTweets {
    border-top: 2px solid #6d67e4;
    margin-top: 30px;
  }
  .userTweets img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .userInfo {
    display: flex;
    flex-direction: row;
  gap : 10px;
  margin-top: 10px;
  
  }
  .userProfile img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    text-align: left;
  }
  .userProfile{
   
    display: flex;
    flex-direction: column;
    align-items:flex-start;
   
    margin-top: 40px;
  }
.userName{
    margin-top: 20px;
}
.userName p{
    line-height: 0;
}
.profile{
  margin-left: 27%;
    margin-right: 27%;
}