.navbar{
    background-color: #d4d4e1;
    position: fixed;
    left: 0;
    top:0;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    align-items:flex-start ;
    box-shadow: 0 0 9px #6d67e4

    
}
.navbar div{
    margin-top: 20px;
    margin-left: 80px;
    cursor:pointer;
}
.navbar :first-child{
    align-self: start;
    margin-left: 40px;
    margin-top: 40px;
}
.userData{
    font-size: 1rem;
    
}