.navbar{
    background-color: #ececef;
    position: fixed;
    left: 0;
    top:0;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
   
    box-shadow: 0 0 9px #9793dd;
    justify-content: space-between;
   
}
.navbar div{
    margin-top: 20px;
 
   
    cursor:pointer;
}
.navbar :first-child{
    align-self: start;
    margin-left: 40px;
    margin-top: 40px;
}
.userData{
    font-size: 1rem;
    margin-bottom: 20px;
    display: flex;
}
.userData img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
   margin-top: 20px;
}
.navbar_items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    line-height: .6rem;
    margin-right: 10px;
}