.userbar{
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items:flex-start ;
    box-shadow: 0 0 9px #6d67e4;
    

}
.userbarUsers img{
width: 3rem;
height: 3rem;
border-radius: 50%;
margin-top: 10px;
margin-left: 10px;
}
.userbarUsers{
    display: flex;
    margin-left: 10px;
    border: solid 2px #d3d3df;
    border-radius: 10px;
    margin-top: 10px;
    width: 19rem;
}
.userbarUsers p{
font-size: 1rem;
margin-top: 0;
margin-left: 1.5rem;
}